<h1 style="text-align: center;border: solid;background-color:azure;">{{title}}</h1>

<body  style="background-color: beige;padding: 20px;text-align: center;">
  <div class="container">
  <form> 

    Inserta el primer número  <input type="number" [(ngModel)]="numero1" name="numero1"> <br><br>
    Inserta el segundo número <input type="number" [(ngModel)]="numero2" name="numero2"> <br><br>
    <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-primary" style="border-radius: 80px;">
    <input type="submit" value="Restar" (click)="restar()" class="btn btn-secondary"style="border-radius: 80px;">
    <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-success"style="border-radius: 80px;" >
    <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-danger" style="border-radius: 80px;">

  </form>
  </div>
  <p style="margin-top: 20px; font-weight: bold;">Resultado: {{resultado}}</p>
</body>